.background{
    background-image: url(./html_css_background3.jpg);
    filter: blur(5px);
    height: 100%;
    width: 100%; 
    position: absolute; 
    /* background-repeat: repeat;    */
    /* background-size: contain; */
    /* background-size: cover; */
    /* opacity: .55; */
    /* z-index: 4; */
    display: flex; 
}

.flex-container{
     /* z-index: 9;  */
     flex-flow: row wrap;
     display: flex;  
    /* filter: blur(0px); */
    justify-content: space-around;
}

.inner-container{
    border: solid 2px black;
    height: 300px;
    width: 300px;
    background-color: cornflowerblue;
    /* flex-wap:wrrap; */
    display: flex; 
    /* flex-flow: row wrap; */
    /* z-index: 12; */
    padding: 5px;
    margin: 5px;
    opacity: .8;
    /* text-align: center; */
}


.text{
    text-align: center;
    /* margin: auto; */
    /* align-content: center; */
    /* border: solid blueviolet 3px; */
    width: 100%;
    height: 20px;
}
